/*
.message{
  height: auto;
  width: 200px;
  padding: 15px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: 2px 2px 1px 1px #CCC;
  box-shadow: 2px 2px 1px 1px #CCC;
}

.message-body{
  border: 1px solid #e0e0e0;
  padding: 5px;
  margin: 5px;
}

.new-message{
  width: 300px;
  border: 1px solid #ccc;
  padding: 15px;
}

.new-post-wrapper{
  width: 300px;
}

.delete-link{
  cursor: pointer;
}

.tag{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}

.popular-tags{
  border: 1px solid #f9f9f9;
  float: right;
  width: 100px;
}
*/

voting {
    display:block;
    margin:0 -5px;
}
voting .voted {
  color: #ccc;
}

.popular-tags .tag {
    font-size:.95em;
}

.tag {
    float:left;
    margin-right:3px;
    margin-bottom:3px;
}

.tag-wrapper {
    margin-top:10px;
}

.message {
    position:relative;
}

.delete-link {
    position:absolute;
    top:0;
    right:5px;
}

.delete-link a {
    color:gray;
    font-size:1.2em;
}

.delete-link a:hover {
    text-decoration:none;
    color:red;
    cursor:pointer;
}

.votes {
    line-height: 1.85em;
    text-align: center;
    width: 1.85em;
    font-size: 17px;
    margin-top: 2px;
    margin-bottom: 0;
}

.header {
    margin-bottom:15px;
}

.new-message {
    padding: 10px;
    background-color: #F0F0F0;
}

.details-wrapper div {
    font-size:12px;
    line-height:1.5em;
}
.details-wrapper .ng-binding {
    margin-bottom:3px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}