.header {
    margin-bottom:15px;
}

.popular-tags .tag {
    font-size:.95em;
}

.tag {
    float:left;
    margin-right:3px;
    margin-bottom:3px;
}

.tag-wrapper {
    margin-top:10px;
}

.new-message {
    padding: 10px;
    background-color: #F0F0F0;
}

.message {
    position:relative;
}

.message {
    display: inline-block;
    width: 100%;
    -webkit-column-break-inside: avoid;
}

@media (max-width: 649px) {
    .message-wrapper {
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
    }
}

@media (min-width: 650px) {
    .message-wrapper {
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
    }
}

@media (min-width: 992px) {
    .message-wrapper {
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
    }
}

.delete-link {
    position:absolute;
    top:0;
    right:5px;
}

.delete-link a {
    color:gray;
    font-size:1.2em;
}

.delete-link a:hover {
    text-decoration:none;
    color:red;
    cursor:pointer;
}

voting {
    display:block;
    margin:0 -5px;
}

voting .voted {
    color: #ccc;
}

.votes {
    line-height: 1.85em;
    text-align: center;
    width: 1.85em;
    font-size: 17px;
    margin-top: 2px;
    margin-bottom: 0;
}

.details-wrapper div {
    font-size:12px;
    line-height:1.5em;
}
.details-wrapper .ng-binding {
    margin-bottom:3px;
}